@font-face {
    font-family: 'Gridnik';
    src: url('ufonts.com_gridnik.eot');
    /* IE9 Compat Modes */
    src: url('ufonts.com_gridnik.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('ufonts.com_gridnik.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('ufonts.com_gridnik.ttf') format('truetype');
    /* Safari, Android, iOS */
}

html,
body {

    font-weight: bold;
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;

}

.bg-forecasts {
    background: #1f1f1f;
    color: white;
}

.bg-forecasts h1,
h2,
h3,
h4,
h5 {
    color: white !important;
}

.location_name {
    font-size: .8em;
    font-weight: 300;
}


span.observation_unit {
    font-size: small;
    top: -16px;
}

h1.observation_value {
    font-size: 2.1em;
    font-weight: 100;
}

.swiper-slide {
    margin: 0 !important;
    padding: 0 !important;
}

.item-inner {
    margin: 0 !important;
    padding: 0 !important;
    border-left: 0.1px solid #575252;
    border-radius: 0 !important;
}

.swiper-slide {
    border-radius: 0 !important;
}

.item-inner {
    border-radius: 0 !important;
}

.card.shadow-none.bg-forecasts.text-white {
    border-radius: 0;
}

.bg-forecasts .card-body {
    padding: .8em 1em;
}

div#map {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.local-forecasts-map-text {

    /*pointer-events: none;*/
}


h5.location_name {
    padding: 0;
    margin: 0;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
}


.marker_noussair {
    background-image: url('parametres/cool-loading-animated-gif-8.gif');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-position: center center;
}

.main_noussair {
    position: absolute;
    z-index: 12000;
    width: 100%;
}

div#modal-02 {
    display: block;
    position: fixed !important;
    width: 100%;
}

.modal-dialog.modal-dialog-centered.modal-md {
    max-width: 157vh;
    overflow: scroll;
}

.modal-body h1,
h2,
h3,
h4,
h5 {
    color: black !important;
    text-align: initial !important;
}


h1.module_title {
    font-size: 3.04em;
}

h3.sub-title {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.8em;
    color: #686868 !important;
}

span.caption {
    font-size: smaller;
    text-align: center;
}

p.caption {
    font-size: small;
    text-align: left;
}

.forecasts-box .btn-close {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
}

.noussair_animations {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.05, 0.97, 0.57, 1);
    //animation-iteration-count: infinite;	
}

.zoom_out {
    animation-name: noussair_zooming_out;
}

.zoom_in {
    animation-name: noussair_zooming_in;
}

@keyframes noussair_zooming_out {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(5);
        opacity: 0;
    }
}

@keyframes noussair_zooming_in {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1.0);
        opacity: 1;
    }
}

img.logo-light {
    width: 379px;
}

.gras_noussair {
    font-weight: bold;
    color: #120969;
}

h5.location_name {
    color: white !important;
}

.mapboxgl-popup.mapboxgl-popup-anchor-left {
    display: none;
}

h5.location_name {
    min-height: 7vh;
}

.single-pollutant-card :hover {
    background: #727170;
    color: black !important;
}

.modal-dialog.modal-dialog-centered.modal-md {
    max-height: 86vh;
    overflow: overlay;
    display: block;
}

mark {
    padding: 3px 16px 3px 16px;
    background: #000000;
}

.row.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.swiper-container {
    -webkit-user-select: none;
    z-index: 10 !important;
    position: absolute;
    bottom: 29px;
}

footer.bg-dark.text-inverse {
    background: #1f1f1f !important;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.mapboxgl-ctrl-bottom-right {
    display: none;
}

.mapboxgl-control-container {
    display: none;
}

.mapboxgl-marker {
    position: absolute !important;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: lightblue;
}


ul.pollutant_param.list-inline.mb-0 li {
    background: black;
    padding: 7px;
    margin-bottom: 0 !important;
}

span.caption {
    font-family: inherit;
    font-weight: 300;
    color: black;
}

.offcanvas-header.mx-lg-auto.order-0.order-lg-1.d-lg-flex.px-lg-15 {
    display: none !important;
}

.pollutant-banner-o.row.swiper-desactivated {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    align-content: center;
}

.col-md-3.swiper-slide-desactivates {
    padding: 0 !important;
}


.item-inner {
    padding-left: 8px !important;
}

.pollutants-banner {
    margin-left: 18px;
}

li.list-inline-item {
    margin: 0 !important;
    margin-left: -5px !important;
}

ul.pollutant_param.list-inline.mb-0 {
    background: black;
}

span.source {
    font-size: 11px;
    position: absolute;
    bottom: -1px !important;
}

.forecasts_container {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.lf_full_plot {
    width: 100% !important;
}

header.wrapper.bg-soft-primary {
    z-index: 1;
}


.loading_div {
    position: absolute;
    background: #0000009e;
    left: 0;
    right: 0;
    width: 105%;
    height: 100%;
    z-index: 1;
    padding-top: 18%;
    text-align: center;
    display: none;
}

.ball {
    width: 10px;
    height: 10px;
    margin: 10px auto;
    border-radius: 50px;
}

.ball:nth-child(1) {
    background: #ffffff;
    -webkit-animation: right 1s infinite ease-in-out;
    -moz-animation: right 1s infinite ease-in-out;
    animation: right 1s infinite ease-in-out;
}

.ball:nth-child(2) {
    background: #ffffff;
    -webkit-animation: left 1.1s infinite ease-in-out;
    -moz-animation: left 1.1s infinite ease-in-out;
    animation: left 1.1s infinite ease-in-out;
}

.ball:nth-child(3) {
    background: #ffffff;
    -webkit-animation: right 1.05s infinite ease-in-out;
    -moz-animation: right 1.05s infinite ease-in-out;
    animation: right 1.05s infinite ease-in-out;
}

.ball:nth-child(4) {
    background: #ffffff;
    -webkit-animation: left 1.15s infinite ease-in-out;
    -moz-animation: left 1.15s infinite ease-in-out;
    animation: left 1.15s infinite ease-in-out;
}

.ball:nth-child(5) {
    background: #ffffff;
    -webkit-animation: right 1.1s infinite ease-in-out;
    -moz-animation: right 1.1s infinite ease-in-out;
    animation: right 1.1s infinite ease-in-out;
}

.ball:nth-child(6) {
    background: #ffffff;
    -webkit-animation: left 1.05s infinite ease-in-out;
    -moz-animation: left 1.05s infinite ease-in-out;
    animation: left 1.05s infinite ease-in-out;
}

.ball:nth-child(7) {
    background: #ffffff;
    -webkit-animation: right 1s infinite ease-in-out;
    -moz-animation: right 1s infinite ease-in-out;
    animation: right 1s infinite ease-in-out;
}

.messages {
    text-transform: capitalize;
}


@-webkit-keyframes right {
    0% {
        -webkit-transform: translate(-15px);
    }

    50% {
        -webkit-transform: translate(15px);
    }

    100% {
        -webkit-transform: translate(-15px);
    }
}

@-webkit-keyframes left {
    0% {
        -webkit-transform: translate(15px);
    }

    50% {
        -webkit-transform: translate(-15px);
    }

    100% {
        -webkit-transform: translate(15px);
    }
}

@-moz-keyframes right {
    0% {
        -moz-transform: translate(-15px);
    }

    50% {
        -moz-transform: translate(15px);
    }

    100% {
        -moz-transform: translate(-15px);
    }
}

@-moz-keyframes left {
    0% {
        -moz-transform: translate(15px);
    }

    50% {
        -moz-transform: translate(-15px);
    }

    100% {
        -moz-transform: translate(15px);
    }
}

@keyframes right {
    0% {
        transform: translate(-15px);
    }

    50% {
        transform: translate(15px);
    }

    100% {
        transform: translate(-15px);
    }
}

@keyframes left {
    0% {
        transform: translate(15px);
    }

    50% {
        transform: translate(-15px);
    }

    100% {
        transform: translate(15px);
    }
}

a.nav-link.btn.btn-primary.upload-your-data {
    margin-top: 11px;
}

button.btn.btn-primary {
    margin-top: 15px;
}